services:
  - type: web
    name: pi-rideshare-backend
    runtime: node
    repo: https://github.com/EthioCode-ai/EthioCode-ai-Pi-Rideshare
    branch: main
    rootDir: server
    buildCommand: npm install
    startCommand: node index.js
    envVars:
      - key: NODE_ENV
        value: production
      - key: DATABASE_URL
        fromDatabase:
          name: pirideshare
          property: connectionString